<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>
<%- include('partials/header')%>
<div class="userMancha">
    <img src="/images/manchas/pngwing.com (7).png" alt="">
</div>
    <main class="usersForm-container">
       
        <h3 class="userTitle">LOGIN</h3>
        <form action="" class="form-ad">
            <div class="form-ad-input">
                <input type="email" name="email" placeholder="Ingresá tu email">
                <small class="text-danger">Ingresa tu email</small>
    
            </div>
            <div class="form-ad-input">
                <input type="password" name="pass1" placeholder="Contraseña">
                <small class="text-danger">Ingresa tu contraseña</small>
            </div>
            <div class="form-ad-input_check">
                <input type="checkbox" name="terms" id="check">
                <label for="check">Recordar</label>
            </div>
            <small class="text-danger">Credenciales inválidas</small>
            <button class="btn-ad btn-ad-primary">
                INGRESAR
            </button>
            <a href="/users/register" class="userLink">Aún no tengo cuenta</a>
        </form>
    </main>
<%- include('partials/footer')%>
</body>
</html>