<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>
<%- include('partials/header')%>
<div class="userMancha">
    <img src="/images/manchas/pngwing.com (7).png" alt="">
</div>
    <main class="usersForm-container">
       
        <h3 class="userTitle">Registrate</h3>
        <form action="" class="form-ad">
            <div class="form-ad-input">
                <input type="text" name="name" placeholder="Nombre">
                <small class="text-danger">Ingresa tu nombre</small>
            </div>
            <div class="form-ad-input">
                <input type="text" name="last_name" placeholder="Apellido">
                <small class="text-danger">Ingresa tu apellido</small>
            </div>
            <div class="form-ad-input">
                <input type="email" name="email" placeholder="Ingresá tu email">
                <small class="text-danger">Ingresa tu email</small>
            </div>
            <div class="form-ad-input">
                <input type="password" name="pass1" placeholder="Contraseña">
                <small class="text-danger">Ingresa tu contraseña</small>
            </div>
            <div class="form-ad-input">
                <input type="password" name="pass2" placeholder="Repetir contraseña">
                <small class="text-danger">Repite tu contraseña</small>
            </div>
            <div class="input-file">
                <p>Agregar foto</p>
                <input type="file" name="avatar">
            </div>
            <div class="form-ad-input_check">
                <input type="checkbox" name="terms" id="check">
                <label for="check">Acepto los términos y condiciones</label>
                <small class="text-danger">Debes aceptar los términos y condiciones</small>
            </div>
            <button class="btn-ad btn-ad-primary">
                REGISTRATE
            </button>
            <a href="/users/login" class="userLink">Ya tengo cuenta</a>
        </form>
    </main>
<%- include('partials/footer')%>
</body>
</html>