<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>
<%- include('partials/header')%>
<div class="userMancha">
    <img src="/images/manchas/pngwing.com (5).png" alt="">
</div>
    <main class="userProfile">
        <div class="avatar">
            <img src="/images/default-image.png" alt="">
        </div>
        <div class="userProfile-container">
            <div class="userProfile_box">
                <h3 class="userProfile_title">Datos personales</h3>
                <p class="userProfile_item">Nombre: NOMBRE DE USUARIO</p>
                <p class="userProfile_item">Email: EMAIL DE USUARIO</p>
                <p class="userProfile_item">Teléfono: TELÉFONO DE USUARIO</p>
            </div>
            <div class="userProfile_box">
                <h3 class="userProfile_title">Datos de contacto</h3>
                <p class="userProfile_item">Dirección: </p>
                <p class="userProfile_item">Código postal: </p>
                <p class="userProfile_item">Provincia: </p>
                <p class="userProfile_item">Localidad: </p>
            </div>
            <a href="#" class="btn-ad btn-ad-primary">EDITAR DATOS</a>
        </div>
    </main>
<%- include('partials/footer')%>
</body>
</html>